$notAuthenticColor: #dc3545;
$authenticColor: #9E7A04;
#productAuthentic {
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
}

#productAuthentic {
    .checkedLogo {
        font-size: 80px;
        color: $authenticColor;

        &Text {
            color: $authenticColor;
        }
    }
    
    .notAuthentic-checkedLogo{
        font-size: 80px;
        color: $notAuthenticColor;

        &Text {
            color: $notAuthenticColor;
        }
    }
}

#productAuthentic #productAuthentic .authenticated {
    font-weight: bold;
    font-family: "sectionbold", sans-serif;
}

#openProductDescriptionBtn {
    padding: 20px;
}

#openProductDescriptionBtn a {
    display: block;
    padding: 5px;
    border: 1px solid #fff;
    color: #fff;
    border-radius: 20px;
}

#photo {
    margin-bottom: 30px;
}

#photo .photo img {
    width: 200px;
    background-color: #fff;
    border-radius: 50%;
}

#description #productNameContainer a h4 {
    color: white;
}

#description #productNameContainer a:active,
#description #productNameContainer a:hover {
    text-decoration: none;
}