#productAuthentic {
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
}

#productAuthentic .checkedLogo{
    font-size: 80px;
    color: #dc3545;
}

#productAuthentic .authenticated {
    font-weight: bold;
    color: #dc3545;
    font-family: "sectionbold", sans-serif;
}

#openProductDescriptionBtn{
    padding: 20px;
}

#openProductDescriptionBtn a {
    display: block;
    padding: 5px;
    border: 1px solid #fff;
    color: #fff;
    border-radius: 20px;
}

#photo {
    margin-bottom: 15px;
}

#photo .photo img{
    width: 200px;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 50%;
}

#description #productNameContainer a h4 {
    color: white;
}

#description #productNameContainer a:active,
#description #productNameContainer a:hover {
    text-decoration: none;
}