.main-gagnant {
    height: calc(100vh - 56px);
    p {
        margin-bottom: 0;
    }
    .prefix-content {
        font-family: 'Yellowtail', cursive;
        margin-bottom: 2rem;
        -ms-transform: rotate(-8deg);
        /* IE 9 */
        -webkit-transform: rotate(-8deg);
        /* Safari */
        transform: rotate(-8deg);
        p {
            font-size: 43px;
        }
    }
    .winner {
        margin-bottom: 1.25rem;
        .winner-name {
            font-family: 'League Spartan';
            font-weight: 700;
            h6 {
                font-size: 28px;
            }
            h1 {
                font-size: 56px;
            }
        }
    }
    .prize {
        width: 200px;
        height: 200px;
        padding: 35px;
        background: #fff;
        border-radius: 50%;
        margin: 0 auto;
        img {
            width: 140px;
        }
    }
}