#authenticContent {
    text-align: center;
    color: white;
    background: #000;
}

#ficheproduit {
    margin-top: 40px;
}

#photo img {
    background: #fff;
    border-radius: 50%;
    width: 200px;
}

#description {
    margin-top: 20px;
}

#description p {
    font-size: 13px;
}

#description #recommendProducts {
    background: #e0e0e0;
    margin-bottom: 15px;
}

#descriptionContent {
    padding: 20px;
    letter-spacing: 1px;
}

#description #descriptionContent .productNotes {
    margin-top: 5px;
}

#description #productNameContainer a h4 {
    color: white;
}

#description #productNameContainer a:active,
#description #productNameContainer a:hover {
    text-decoration: none;
}

/* #recommendProducts img {
    width: 150px;
} */

#recommendProducts {
    background: rgba(255, 255, 255, 0.7);
}