#produit {
    height: calc(100vh - 160px);
}

#authenticContent {
    text-align: center;
    color: white;
    background: #000;
}

#photo img {
    background: #fff;
    border-radius: 50%;
    width: 200px;
}

#description {
    margin-top: 20px;

    .productDescription {
        padding: 20px;
        .productNotes {
            margin-top: 5px;
        }
    }
    #productNameContainer a h4 {
        color: white;
    }

    #productNameContainer a:active,
    #productNameContainer a:hover {
        text-decoration: none;
    }
}

#recommendProducts {
    background: rgba(255, 255, 255, 0.7);
}