.red-btn{
    background: #BD1E1C !important;
    border-color: #BD1E1C !important;
    color: #fff;
}

.uppercase {
    text-transform: uppercase;
}

.bold-text{
    font-weight: 700;
}

#quizz {
    text-align: center;
}