body {
    font-family: Tahoma, Geneva, sans-serif;
    padding-top: 55px;
}

.navbar .navbar-brand img {
    height: 25px;
}

#photo {
    background: #f0ede8;
}

#description {
    padding: 20px;
    letter-spacing: 1px;
}

#description p {
    font-size: 13px;
}

#description .productName {
    color: #be8faf;
}

#description .productNotes {
    color: #be8faf;
    margin-top: 5px;
}

#pointille {
    width: 90%;
    margin-left: 5px;
    height: 15px;
    background-repeat: repeat-x;
    background-image: url(../assets/images/pointille.png);
    float: left;
}


/* Quizz */

#quizz {
    padding: 20px;
}

#quizz #logoquizz {
    background: #343A40;
    border: 5px solid #000;
    margin-bottom: 20px;
}

#quizz #logoquizz img {
    width: 100%;
}

#quizz .question .questionContent {
    margin: 15px 0;
    font-size: 18px;
}

#quizz .question .answer {
    display: block;
    padding: 15px;
    border: 1px solid #ccc;
    margin-bottom: 15px;
    font-size: 14px;
}

button.btn {
    color: #fff;
    background-color: #FFA747;
    border-color: #FFA747;
}


/* Tirage au sort */

#formulaire {
    padding: 20px;
}

#formulaire .asterixDescription {
    font-size: 12px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#formulaire #carre {
    background: black;
    margin-bottom: 20px;
    padding: 20px 0;
}

#formulaire #carre .wording {
    text-align: center;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 30px;
    font-weight: lighter;
    letter-spacing: 1px;
    margin-bottom: 5px;
    color: #FFA747;
    display: block;
    width: 100%;
}

#formulaire #carre .wording .presentDescription {
    color: #FFF;
    font-size: 20px;
}

#formulaire #carre h5 {
    text-align: center;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 20px;
    font-weight: lighter;
    letter-spacing: 1px;
    margin-bottom: 4%;
    margin-top: 0%;
    color: #FFF;
    display: block;
    width: 100%;
}


/* modal */

#congratulationsModal .modal-dialog {
    width: 320px;
    height: 200px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -100px 0 0 -160px;
}

#congratulationsModal .modal-dialog .modal-body h3 {
    color: #FFA747;
}