/* @font-face {
    font-family: "sectionmedium";
    src: url('../assets/font/section-medium-webfont.woff2');
}

@font-face {
    font-family: "sectionbold";
    src: url('../assets/font/section-bold-webfont.woff2');
} */

body {
    font-family: 'Roboto Condensed', sans-serif;
    letter-spacing: 1px;
    padding-top: 55px;
    color: white;
}

div.main-bg{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index:-1;
    background: url('../assets/images/cover/texture.jpg');
    background-position: left top;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-filter: blur(5px);
    filter: blur(5px);
}

.languages-container {
    margin-left: auto;
}

.languages-container img{
    width: 26px;
}

#main{
    position: relative;
}

.navbar .navbar-brand {
    margin-right: 0;
}

.navbar .navbar-toggler {
    color: #fff;
    font-size: 20px;
    font-weight: bold;
}

.navbar .navbar-brand img {
    height: 25px;
}

/* Quizz */

#quizz {
    padding: 20px;
}

#quizz #logoquizz {
    border: 1px solid #fff;
    margin-bottom: 20px;
}

#quizz #logoquizz img {
    width: 100%;
}

#quizz .question .questionContent {
    margin: 15px 0;
    font-size: 18px;
}

#quizz .question .answer {
    display: block;
    padding: 15px;
    border: 1px solid #ccc;
    margin-bottom: 15px;
    font-size: 14px;
}

button.btn {
    color: #fff;
    background-color: #9E7A04;
    border-color: #9E7A04;
}


/* Tirage au sort */

#formulaire {
    padding: 20px;
}

#formulaire .asterixDescription {
    font-size: 12px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#formulaire #carre {
    /* font-family: "sectionbold", sans-serif; */
    padding: 10px 0;
}

#formulaire #carre .wording {
    text-align: center;
    font-size: 40px;
    font-weight: lighter;
    letter-spacing: 1px;
    margin-bottom: 5px;
    /* color: #dc3545; */
    display: block;
    width: 100%;
}

#formulaire #carre .wording h1 {
    color: #9E7A04;
}

#formulaire #carre .wording .presentDescription {
    color: #FFF;
    font-size: 20px;
}

#formulaire #carre h5 {
    text-align: center;
    font-size: 20px;
    font-weight: lighter;
    letter-spacing: 1px;
    margin-bottom: 4%;
    margin-top: 0%;
    color: #FFF;
    display: block;
    width: 100%;
}