@font-face {
    font-family: "sectionmedium";
    src: url('../assets/font/section-medium-webfont.woff2');
}

@font-face {
    font-family: "sectionbold";
    src: url('../assets/font/section-bold-webfont.woff2');
}

body {
    font-family: "sectionmedium", Arial, Sans-Serif;
    letter-spacing: 1px;
    padding-top: 55px;
}

.navbar {
    background: #fff;
    border-bottom: 1px solid rgb(204, 204, 204);
}

.navbar .navbar-brand {
    width: 100%;
    text-align: center;
    margin-right: 0;
}

.navbar .navbar-toggler {
    position: absolute;
    left: 0;
    top: 14px;
}

.navbar .navbar-toggler .navigationLogo {
    height: 30px;
    width: 52px;
    background-image: url('../assets/images/btn_navigation_m_black.png');
    background-position: 0 -21px;
}

.navbar .navbar-brand img {
    height: 25px;
}



/* Quizz */

#quizz {
    padding: 20px;
}

#quizz #logoquizz {
    background: #343A40;
    border: 5px solid #000;
    margin-bottom: 20px;
}

#quizz #logoquizz img {
    width: 100%;
}

#quizz .question .questionContent {
    margin: 15px 0;
    font-size: 18px;
}

#quizz .question .answer {
    display: block;
    padding: 15px;
    border: 1px solid #ccc;
    margin-bottom: 15px;
    font-size: 14px;
}

button.btn {
    color: #fff;
    background-color: #FFA747;
    border-color: #FFA747;
}


/* Tirage au sort */

#formulaire {
    padding: 20px;
}

#formulaire .asterixDescription {
    font-size: 12px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#formulaire #carre {
    background: black;
    margin-bottom: 20px;
    padding: 20px 0;
}

#formulaire #carre .wording {
    text-align: center;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 30px;
    font-weight: lighter;
    letter-spacing: 1px;
    margin-bottom: 5px;
    color: #FFA747;
    display: block;
    width: 100%;
}

#formulaire #carre .wording .presentDescription {
    color: #FFF;
    font-size: 20px;
}

#formulaire #carre h5 {
    text-align: center;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 20px;
    font-weight: lighter;
    letter-spacing: 1px;
    margin-bottom: 4%;
    margin-top: 0%;
    color: #FFF;
    display: block;
    width: 100%;
}


/* modal */

#congratulationsModal .modal-dialog {
    width: 320px;
    height: 200px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -150px 0 0 -160px;
}

#congratulationsModal .modal-dialog .modal-body h3 {
    color: #FFA747;
}