<!-- index.nunjucks -->
{% extends "../layouts/layout.layout.fr.html" %} {% block content %}
<main id="main">
    <div id="ficheproduit" class="text-center">
        <div id="home" class="center-part">
            <div class="home-content">
                <div id="bienvenue">
                    <span>
                        Bienvenue à la page d'authentification de produit d'Evaflor
                    </span>
                </div>
                <div id="recommendProducts" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <a href="http://www.evaflor.com/mensfragrance/whisky/origin/" target="_blank">
                                <img src="../../images/origin.png" width="20%" />
                            </a>
                            <a href="http://www.evaflor.com/mensfragrance/whisky/black/" target="_blank">
                                <img src="../../images/black.png" width="20%" />
                            </a>
                            <a href="http://www.evaflor.com/mensfragrance/whisky/double/" target="_blank">
                                <img src="../../images/double.png" width="20%" />
                            </a>
                            <a href="http://www.evaflor.com/mensfragrance/whisky/red/" target="_blank">
                                <img src="../../images/red.png" width="20%" />
                            </a>
                        </div>
                        <div class="carousel-item">
                            <a href="http://www.evaflor.com/mensfragrance/whisky/origin/" target="_blank">
                                <img src="../../images/origin.png" width="20%" />
                            </a>
                            <a href="http://www.evaflor.com/mensfragrance/whisky/black/" target="_blank">
                                <img src="../../images/black.png" width="20%" />
                            </a>
                            <a href="http://www.evaflor.com/mensfragrance/whisky/double/" target="_blank">
                                <img src="../../images/double.png" width="20%" />
                            </a>
                            <a href="http://www.evaflor.com/mensfragrance/whisky/red/" target="_blank">
                                <img src="../../images/red.png" width="20%" />
                            </a>
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#recommendProducts" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#recommendProducts" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}