<!-- index.nunjucks -->
{% extends "../layouts/layout.layout.en.html" %}


{% block content %}
    <div id="main">
        <div id="ficheproduit" class="text-center">
            <div id="productAuthentic">
                <div class="authenticContainer">
                    <div class="checkedLogo">
                        <i class="fa fa-check-circle" aria-hidden="true"></i>
                    </div>
                    <h4>This product is</h4>
                    <h2 class="authenticated">authentic</h2>

                    <div id="photo">
                        <span class="photo">
                            <a href="http://www.evaflor.com/mensfragrance/whisky/formen/">
                                <img src="../../images/whisky.png" />
                            </a>
                        </span>
                    </div>
                    <div id="description">
                        <div id="productNameContainer">
                            <a class="productBrand">
                                <h4>
                                    <span>WHISKY FOR MEN</span>
                                </h4>
                            </a>
                            <p class="productName">EAU DE TOILETTE</p>
                        </div>
                    </div>
                </div>
            </div>
            <div id="openProductDescriptionBtn">
                <a class="productDescriptionBtnContent" href="./product.html">
                    Product description
                </a>
            </div>
        </div>
    </div>
{% endblock %}