{% extends "layout.layout.html" %} {% block content %}
<main id="main">
    <div id="jackpot">
        <div id="jackpot-header">
            <div class="container">
                <img src="../../images/jackpot.png" alt="" srcset="">
            </div>
            <div id="jackpot-wordings">
                <p>
                    En cliquant sur le bouton "JOUER", les rouleaux s'accionneront automatiquement. Il ne vous reste plus qu'à aligner 3 flacons
                    identique, et il sera à vous!
                </p>
                <h5>GOOD LUCK</h5>
            </div>
        </div>
        <div id="jackpot-machine-container">
            <div id="jackpot-machine" class="row">
            </div>
        </div>
        <div id="jackpot-form-container">
            <form id="jackpot-form" class="form" action="">
                <div class="form-group">
                    <input type="text" class="form-control" id="formName" placeholder="First/Last Name">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" id="formEmail" placeholder="Email">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" id="formPostalCode" placeholder="Postal code">
                </div>
                <div class="form-group btn-container text-center">
                    <button class="btn red-btn uppercase bold-text" id="play-jackpot" type="button">
                        PLAY
                    </button>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="">
                        <i class="fa fa-2x icon-checkbox"></i>
                        <span>I want to receive the newsletters</span>
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="">
                        <i class="fa fa-2x icon-checkbox"></i>
                        <span>I read and accept the terms and conditions. *</span>
                    </label>
                </div>
            </form>
        </div>
    </div>
</main>
{% endblock %}