<!-- index.nunjucks -->
{% extends "../layouts/layout.layout.en.html" %}


{% block content %}
    <main id="main">
        <div id="quizz">
            <div class="text-center">
                <div id="logoquizz">
                    <img src="../../images/logoquizz.png" />
                </div>
                <p class="quizz-slogan">WHICH WHISKY MEN ARE YOU ?</p>
            </div>
            <div class="question">
                <div class="questionNumber">
                    Question 1/5
                    <p>L'endroit où vous aimeriez vivre:</p>
                </div>
                <div class="answersContainer">
                    <div class="answer">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" value="">
                                <i class="fa fa-2x icon-checkbox"></i>
                                Votre salle de musculation
                            </label>
                        </div>
                    </div>
                    <div class="answer">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" value="" checked>
                                <i class="fa fa-2x icon-checkbox"></i>
                                Chez vous, tout simplement
                            </label>
                        </div>
                    </div>
                    <div class="answer">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" value="">
                                <i class="fa fa-2x icon-checkbox"></i>
                                Chaque jour dans un endroit différent
                            </label>
                        </div>
                    </div>
                    <div class="answer">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" value="">
                                <i class="fa fa-2x icon-checkbox"></i>
                                Dans un penthouse en milieu urbain
                            </label>
                        </div>
                    </div>
                </div>
                <div class="text-center">
                    <a href="./quizz-result.html" class="btn btn-primary">
                        Continue
                    </a>
                </div>
            </div>
        </div>
    </main>
{% endblock %}