<!-- index.nunjucks -->
{% extends "../layouts/layout.layout.html" %}


{% block content %}
    <main id="main">
        <form id="formulaire" action="./gagnant.html">
            <div id="carre">
                <div class="wording">
                    <h1 class="wordings wordings-drawpage-win">WIN</h1>
                    <p class="presentDescription wordings wordings-drawpage-prize">a gift box
                        <br/>of the brand Whisky</p>
                </div>

                <div id="cadeaux" class="row">
                    <div class="col-4">
                        <img src="../../images/coffret_men.png" style="width:100%;" />
                    </div>
                    <div class="col-4">
                        <img src="../../images/coffret_vintage.png" style="width:100%;" />
                    </div>
                    <div class="col-4">
                        <img src="../../images/coffret_sport.png" style="width:100%;" />
                    </div>
                </div>

                <h5>
                    <span class="wordings wordings-drawpage-drawoflots">DRAW OF LOTS</span>
                    <br/> on : --/--/--
                </h5>
            </div>

            <div class="form-group">
                <input type="text" class="form-control wordings wordings-form-name" id="formName" placeholder="First/Last name">
            </div>
            <div class="form-group">
                <input type="text" class="form-control wordings wordings-form-email" id="formEmail" placeholder="Email">
            </div>
            <div class="form-group">
                <input type="text" class="form-control wordings wordings-form-postalcode" id="formPostalCode" placeholder="Postal code">
            </div>

            <div class="text-center">
                <button type="submit" class="btn wordings wordings-drawpage-participate">I PARTICIPATE*</button>
            </div>

            <p class="asterixDescription text-center wordings wordings-drawpage-acceptoffer">* and I want to receive the Whisky gift.</p>
        </form>
    </main>
{% endblock %}